# PostgreSQL (для docker-compose)
POSTGRES_DB=recipes_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password

# App (для database.py)
DB_HOST=db
DB_PORT=5432
DB_NAME=recipes_db
DB_USER=user
DB_PASSWORD=password